@model List<string>
@{
    ViewBag.Title = "AddRole";
}

<h2>AddRole</h2>
<div>
    @using (Html.BeginForm())
    {
        <div>
            Enter Name @Html.Editor("Name") <br />
            <br />
            <button class="submitButton" type="submit">
                Add This Role
            </button>
            <br />
        </div>
    }

</div>