@model List<string>
@{
    ViewBag.Title = "AddRole";
}

<h2>AddRole</h2>
<div>
    @using (Html.BeginForm())
    {
        <div>
            Enter Name @Html.Editor("Name") <br />
            @*<input type="submit" value="Add This Role" /><br />*@
            <br />
            <button class="submitButton" type="submit">
                Add This Role
            </button>
            <br />
            <button class="submitButton" type="button" style="margin-top:10px;">
                <p class="link">
                    @Html.ActionLink("Back To Inedx Page", "Index", "Admins", null, new { style = "color: white;text-decoration:none" })
                </p>
            </button>
        </div>
    }

</div>