@model List<string>
@{
    ViewBag.Title = "AllRoles";
}

<h2>AllRoles</h2>

<ul>
    @foreach (var role in Model)
    {
        <li>@role</li>
    }
</ul>
<button class="submitButton" type="button" style="margin-top:10px;">
    <p class="link">
        @Html.ActionLink("Back To Inedx Page", "Index", "Admins", null, new { style = "color: white;text-decoration:none" })
    </p>
</button>