@model List<string>
@{
    ViewBag.Title = "GetAllRolesForUser";
}

<h2>GetAllRolesForUser</h2>



@using (Html.BeginForm())
{
    <p>Select User @Html.DropDownList("UserId") </p>@*<input type="submit" value="Select User" />*@
    <br />
    <button class="submitButton" type="submit">
        Select User
    </button>
    <br />

    if (Model == null)
    {
        <button class="submitButton" type="button" style="margin-top:10px;">
            <p class="link">
                @Html.ActionLink("Back To Inedx Page", "Index", "Admins", null, new { style = "color: white;text-decoration:none" })
            </p>
        </button>
    }
}

@if (Model != null)
{
    <h2>AllRoles</h2>

    <ul>
        @foreach (var role in Model)
        {
            <li>@role</li>
        }
    </ul>
    <button class="submitButton" type="button" style="margin-top:10px;">
        <p class="link">
            @Html.ActionLink("Back To Inedx Page", "Index", "Admins", null, new { style = "color: white;text-decoration:none" })
        </p>
    </button>
}
