@model List<BugTracker.Models.ApplicationUser>
@{ ViewBag.Title = "ShowAllUsers"; }

<h2>Show All Users</h2>

<table class="table">
    <tr>
        <th>
            UserName
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
        <td>
            <button class="question3" type="button" style="background: dodgerblue;">
                <p class="link"> @Html.ActionLink("Get All Roles", "GetAllRolesForUser", new { style = "color: white;text-decoration:none" }) </p>
            </button>
            <button class="question3" type="button" style="background: dodgerblue;">
                <p class="link"> @Html.ActionLink("Assign Role", "AssignUserToRole", new { style = "color: white;text-decoration:none" }) </p>
            </button>
            <button class="question3" type="button" style="background: dodgerblue;">
                <p class="link"> @Html.ActionLink("UnAssign Role", "UnAssignUserFromRole", new { style = "color: white;text-decoration:none" }) </p>
            </button>
        </td>
        </tr>
}

</table>

