
@{
    ViewBag.Title = "UnAssignUserFromRole";
}

<h2>UnAssign User From Role</h2>

@using (Html.BeginForm())
{
    <p>Select User @Html.DropDownList("UserId") </p>
    <p>Select Role @Html.DropDownList("role") </p>
    <input type="submit" value="UnAssign User from the role" />
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}