
@{
    ViewBag.Title = "UnAssignUserFromRole";
}

<h2>UnAssign User From Role</h2>

@using (Html.BeginForm())
{
    <p>Select User @Html.DropDownList("UserId") </p>
    <br />
    <p>Select Role @Html.DropDownList("role") </p>
    <br />
    <button class="submitButton" type="submit">
        UnAssign User from the role
    </button>
    <br />
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}