
@{
    ViewBag.Title = "AssignUserToTicket";
}

<h2>AssignUserToTicket</h2>

@using (Html.BeginForm())
{
    <br />
    <p style="font-size:15px">Select User @Html.DropDownList("UserId") </p>
    <br />
    <input type="submit" value="Assign Developer to Ticket"  class="submitButton"/>
}
