
@{
    ViewBag.Title = "UpdateStatus";
}

<h2>UpdateStatus</h2>

@using (Html.BeginForm())
{
    <p>Select Status @Html.DropDownList("StatusId") </p>
    <br />
    <input type="submit" value="Update Status" class="submitButton" />
}
<button class="submitButton" type="button" style="margin-top:10px;">
    <p class="link">
        @Html.ActionLink("Back to List", "Index", null, new { style = "color: white;text-decoration:none" })
    </p>
</button>