
@{
    ViewBag.Title = "UpdateStatus";
}

<h2>UpdateStatus</h2>

@using (Html.BeginForm())
{
    <p>Select Status @Html.DropDownList("StatusId") </p>
    <br />
    <input type="submit" value="Update Status" class="submitButton" />
}