@model IEnumerable<BugTracker.Models.TicketNotification>

@{
    ViewBag.Title = "Index";
}

<h2>Notifications</h2>

<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href='@Url.Action("Details", "Tickets", new { id = item.TicketId })'>@item.Content</a>
        </td>
    </tr>
}

</table>
