
@{
    ViewBag.Title = "AssignUserToProject";
}

<h2>AssignUserToProject</h2>

@using (Html.BeginForm())
{
    <br />
    <p><b>Select User: </b> @Html.DropDownList("UserId") </p>
    <br />
    <p><b>Select Project: </b> @Html.DropDownList("projectId") </p>
    <br />
    <input type="submit" value="Add User to Project" class="submitButton" />
}
<button class="submitButton" type="button" style="margin-top:10px;">
    <p class="link">
        @Html.ActionLink("Back to List", "Index", "Projects", null, new { style = "color: white;text-decoration:none" })
    </p>
</button>