@model BugTracker.Models.Project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <b>Project Name: </b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<button class="submitButton" type="button">
    <p class="link">
        @Html.ActionLink("Back to List", "Index", "Projects", null, new { style = "color: white;text-decoration:none" })
    </p>
</button>
<button class="submitButton" type="button">
    <p class="link">
        @Html.ActionLink("Edit", "Edit", "Projects", new { id = Model.Id }, new { style = "color: white;text-decoration:none" })
    </p>
</button>