
@{
    ViewBag.Title = "UnAssignUserFromProject";
}

<h2>UnAssignUserFromProject</h2>

@using (Html.BeginForm())
{
    <br />
    <p><b>Select User: </b> @Html.DropDownList("UserId") </p>
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Remove User From Project" class="submitButton" />
        </div>
    </div>
}